In [1]:
import pandas as pd
import numpy as np

In [19]:
data=pd.read_excel('Base.xlsx', sheet_name="Liste")
data=data.reset_index(names=["Matricule"])

ValueError: cannot insert Matricule, already exists

In [23]:
dico_data=data.set_index('Matricule').T.to_dict('list')

In [26]:
dico_data

{12063: ['BOBE BIANBO BALLET', 'MAP2'],
 23121: ['MOHAMED AG Mohamedine', 'MAP2'],
 23122: ['TEBSOUGUE SEYDOU Dit Jacques', 'MAP2'],
 24192: ['AYISSI BEBOM Daniela Mamerth', 'L2BD'],
 24193: ['DJOUDJI NDJIFACK Orlane Harmonie', 'L2BD'],
 24194: ['DONFACK Antoine Flaubert', 'L2BD'],
 24195: ['EMANI NGADEU Cyril Christian', 'L2BD'],
 24196: ['HAIDARA Mahamar Sidi Boubacar', 'L2BD'],
 24197: ['MAHI NDOUNG Rodrigue', 'L2BD'],
 24198: ['MOUYOMBON MESSI Adrienne Frédérique', 'L2BD'],
 24199: ['NIECHE NJECHE NJICHOU Gilles Russel', 'L2BD'],
 24200: ['NTECHE Nouvellin', 'L2BD'],
 24201: ['RAVANANY Jocel', 'L2BD'],
 23149: ['AZEUMO DONGMO Priscille Miryam', 'MDSMS2'],
 23150: ['BANTSIMBA MINISALAB Freddy Gladys', 'MDSMS2'],
 22129: ['BOUM BISSEMB Osée Emmanuel', 'MDSMS2'],
 23151: ['DIARRA DRISSA', 'MDSMS2'],
 23153: ['ESTELLE Nguele Nga', 'MDSMS2'],
 23154: ['FOUOSSO TIOYO Arnauld Willy', 'MDSMS2'],
 23155: ['HASSANE HILENOUDJIM', 'MDSMS2'],
 '06TSS08': ['ITSATSA Arnaud Thibaut', 'MDSMS2'],
 22134: ['JOB MATIP Alice Bryan', 'MDSMS2'],
 23156: ['KADEYA Harmis', 'MDSMS2'],
 23157: ['KAMANKE Jude Eric', 'MDSMS2'],
 23158: ['KEITA Mohamed Lamine', 'MDSMS2'],
 23159: ['MATSOUMBOU MAMONEKENE Eliezer Karl Bernic', 'MDSMS2'],
 23160: ['MOUTOUWALI Fadoul Doutoum', 'MDSMS2'],
 15029: ['NDJENTI Paul Marcel', 'MDSMS2'],
 22118: ['NDOMO Alphonse Joseph', 'MDSMS2'],
 23162: ['NFAMOUN Abirou', 'MDSMS2'],
 23164: ['NGAMBOU KAMETCHA Hermann Gaêl', 'MDSMS2'],
 22136: ['NGWEKO Ange Kyriane', 'MDSMS2'],
 22138: ['NSONDET-BAHOU Aimé Mac Julian', 'MDSMS2'],
 22139: ['NZAMEYO ESSONO Albert Victorien', 'MDSMS2'],
 23165: ['OBANDA Henri Jeferson Dieu-Le-Veut', 'MDSMS2'],
 23166: ['SOBGO DONGO Josiane', 'MDSMS2'],
 22148: ['YATTARA MAHAMADOU Alassane', 'MDSMS2'],
 23168: ['BASSI MBANG Yann Franck Arthur', 'MSA2'],
 23169: ['ONSOUBO DJEZILBE Jean', 'MSA2'],
 23170: ['TATCHI TATCHI Christian Raymond', 'MSA2'],
 24190: ['BANENGAI GUENEMON Nickson Yowan', 'MAP'],
 23138: ['BINDELE Freddy Loîc', 'MAP'],
 23141: ['KITE TIADJIO Guylaine Dora', 'MAP'],
 23136: ['NSEBLA Rose Audrey', 'MAP'],
 24191: ['RAHOASA HERINIAINA Andrea', 'MAP'],
 23123: ['ABONDO MEMANG Ivan Leny', 'MDSMS'],
 24170: ['BEINDI Felix HOUMBI', 'MDSMS'],
 24171: ['DEDIM GUELBE Apollinaire', 'MDSMS'],
 24172: ['DJOKNONE Laurent', 'MDSMS'],
 23152: ['EKWANE Franck', 'MDSMS'],
 13073: ['EWOUDI MBEDI EBENE Flavien Stéphane', 'MDSMS'],
 23129: ['KAMATE Saran Beh', 'MDSMS'],
 23130: ['KIYINDOU Destin Consolé', 'MDSMS'],
 24173: ['KOUMETIO Jessy Grace', 'MDSMS'],
 24174: ['MAMA Idissa Adnane', 'MDSMS'],
 23132: ['MATSING MEVOUNGOU Orlane Maëlys', 'MDSMS'],
 24175: ['MESSINA ATA Mallory Noëlle', 'MDSMS'],
 24176: ['MODJARBA Habib', 'MDSMS'],
 24177: ['NGOUANA FAUMETE Etienne Yvan', 'MDSMS'],
 24178: ['OBAMA Christian', 'MDSMS'],
 24179: ['OTABELA ANGAYENE Stéphane Pascal', 'MDSMS'],
 24180: ['SHOUAME Jean Pierre', 'MDSMS'],
 24181: ['TCHUIDJANG Henri Lambert', 'MDSMS'],
 23137: ['WAMBE Jordan Valère', 'MDSMS'],
 24182: ['ATEBA Blandine Laeticia', 'M2SA'],
 24183: ['BIANPAMBE POMBE Alfred', 'M2SA'],
 24184: ['DJANDOUKET NCHOUTE Aïssatou', 'M2SA'],
 24185: ['DJELASSEM Francklin', 'M2SA'],
 24186: ['FOUNADOUDOU', 'M2SA'],
 24187: ['MBAIRANODJI André', 'M2SA'],
 24188: ['MBOM MBOM Pierre Valdeze', 'M2SA'],
 24189: ['TOGUEM Hugues Robinson', 'M2SA'],
 24202: ['BELINGA Jean-Yves Franck', 'LGTSD'],
 24203: ['CALEB VANDOREN AFOUODJI', 'LGTSD'],
 24204: ['DIALLO SIAKA', 'LGTSD'],
 24205: ['DIARRA Mohamed', 'LGTSD'],
 24206: ['DJEGOLDE Yanic ', 'LGTSD'],
 24207: ['DOUMBIA Assan ', 'LGTSD'],
 24208: ['DOURBELA Saidou', 'LGTSD'],
 24209: ['KOICHIP NGATCHEU Steve Loïc', 'LGTSD'],
 24210: ['KOUANANG Franck Cyrille', 'LGTSD'],
 24211: ['NDOUMWAMI Salomon KOYE', 'LGTSD'],
 23147: ['*NGONO AMOUGOU Franck Dominique', 'LGTSD'],
 24212: ['NYAVOM MBANDA Justine Diane', 'LGTSD'],
 24213: ['NZEKENG NKENFACK Synthia', 'LGTSD'],
 24214: ['OMBE AYISSI Claude Stéphane', 'LGTSD'],
 24215: ['ONDOUA BEYENE Blaise ', 'LGTSD'],
 24216: ['SIDIBE Sira', 'LGTSD'],
 24217: ['TCHIYAK FANMOE Jules', 'LGTSD'],
 24218: ['TEUKEU TCHANDJI Boris', 'LGTSD'],
 24219: ['TOURE Aly', 'LGTSD'],
 24220: ['TOURE Moussa', 'LGTSD']}

In [2]:
import sqlite3

# Connexion ou création de la base de données
conn = sqlite3.connect('etablissement.db')
cursor = conn.cursor()

# Création de la table "etudiant"
cursor.execute('''
    CREATE TABLE IF NOT EXISTS etudiant (
        Classe TEXT,
        Nom TEXT,
        Prénom TEXT,
        Sexe TEXT,
        Matricule TEXT PRIMARY KEY
    )
''')

# Création de la table "evaluation" avec Q_01 à Q_21 en TEXT
cursor.execute('''
    CREATE TABLE IF NOT EXISTS evaluation (
        Classe TEXT,
        Sexe TEXT,
        Enseignant TEXT,
        Cours TEXT,
        Q_01 TEXT,
        Q_02 TEXT,
        Q_03 TEXT,
        Q_04 TEXT,
        Q_05 TEXT,
        Q_06 TEXT,
        Q_07 TEXT,
        Q_08 TEXT,
        Q_09 TEXT,
        Q_10 TEXT,
        Q_11 TEXT,
        Q_12 TEXT,
        Q_13 TEXT,
        Q_14 TEXT,
        Q_15 TEXT,
        Q_16 TEXT,
        Q_17 TEXT,
        Q_18 TEXT,
        Q_19 TEXT,
        Q_20 TEXT,
        Q_21 TEXT
    )
''')

# Sauvegarder et fermer
conn.commit()
conn.close()

print("Base de données et tables créées avec succès avec les champs des questions en texte.")

Base de données et tables créées avec succès avec les champs des questions en texte.

In [2]:
from sqlalchemy import create_engine, text
import urllib.parse
import os
from supabase import create_client, Client

In [31]:
url="https://kduqsqcmcdsxmdjwxtfy.supabase.co"
cle="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtkdXFzcWNtY2RzeG1kand4dGZ5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0ODI0OTAxOSwiZXhwIjoyMDYzODI1MDE5fQ.cQbybIOXREA67OsSr3h1bgdqzy3atk3CP7VYaMgVIXA"

In [32]:
supabase = create_client(url, cle)

In [33]:
import pandas as pd
def load_data_to_supabase():
    try:
        report = supabase.table("etudiant").select("*").execute()
        report = pd.DataFrame(report.data)
        return report
    except Exception as e:
        print(f"Connection error: {e}")
        print("Please check your internet connection and Supabase credentials")

In [39]:
data=load_data_to_supabase()
data

   Matricule Classe       Nom  Prénom      Sexe
0      21028  LGTDS    KENGNE  Landry  Masculin
1       3256   MAP1  LOUKOUBA   Daryl  Masculin
2     210286  LGTDS    Dupont    Jean  Masculin

In [37]:
dico_data={"Matricule":210286, "Classe":"LGTDS", "Nom":"Dupont", "Prénom":"Jean", "Sexe":"Masculin"}

In [38]:
rep=supabase.table("etudiant").insert(dico_data).execute()